In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
import pandas as pd
import numpy as np

In [3]:
calender = pd.read_csv("/content/drive/MyDrive/Airbnb-Amsterdam-DataEngineering/calendar.csv")
calender.head()

   listing_id        date available price
0        2818  2019-12-05         f   NaN
1       73208  2019-08-30         f   NaN
2       73208  2019-08-29         f   NaN
3       73208  2019-08-28         f   NaN
4       73208  2019-08-27         f   NaN

In [4]:
print(calender.available.nunique())
print(calender.shape)

2
(7310950, 4)

In [5]:
calender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7310950 entries, 0 to 7310949
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   listing_id  int64
 1   date        object
 2   available   object
 3   price       object
dtypes: int64(1), object(3)
memory usage: 223.1+ MB

In [6]:
listing = pd.read_csv("/content/drive/MyDrive/Airbnb-Amsterdam-DataEngineering/listings.csv")
listing.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199

In [7]:
listing_details = pd.read_csv("/content/drive/MyDrive/Airbnb-Amsterdam-DataEngineering/listings_details.csv")
listing_details.head()

<ipython-input-7-1b2cf20c3c70>:1: DtypeWarning: Columns (87) have mixed types. Specify dtype option on import or set low_memory=False.
  listing_details = pd.read_csv("/content/drive/MyDrive/Airbnb-Amsterdam-DataEngineering/listings_details.csv")

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20181206172549,2018-12-06,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi,I'm renting a bedroom (room overlooking the ga...,Quiet Garden View Room & Super Fast WiFi I'm r...,none,"Indische Buurt (""Indies Neighborhood"") is a ne...",...,f,NaN,{Amsterdam},t,f,strict_14_with_grace_period,f,f,1,2.10
1,3209,https://www.airbnb.com/rooms/3209,20181206172549,2018-12-06,"Quiet apt near center, great view",You will love our spacious (90 m2) bright apar...,"Our apartment has lots of light, a balcony and...",You will love our spacious (90 m2) bright apar...,none,Welcome to the Spaarndammerbuurt! From the beg...,...,f,NaN,{Amsterdam},f,f,moderate,f,f,1,1.03
2,20168,https://www.airbnb.com/rooms/20168,20181206172549,2018-12-06,100%Centre-Studio 1 Private Floor/Bathroom,"Cozy studio on your own private floor, 100% in...",For those who like all facets of city life. In...,"Cozy studio on your own private floor, 100% in...",none,Located just in between famous central canals....,...,f,NaN,{Amsterdam},f,f,strict_14_with_grace_period,f,f,2,2.18
3,25428,https://www.airbnb.com/rooms/25428,20181206172549,2018-12-06,Lovely apt in City Centre (Jordaan),NaN,"This nicely furnished, newly renovated apt is...","This nicely furnished, newly renovated apt is...",none,NaN,...,f,NaN,{Amsterdam},f,f,strict_14_with_grace_period,f,f,2,0.09
4,27886,https://www.airbnb.com/rooms/27886,20181206172549,2018-12-06,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,For a romantic couple: A beautifully restored ...,Stylish and romantic houseboat on fantastic hi...,none,"Central, quiet, safe, clean and beautiful.",...,f,NaN,{Amsterdam},t,f,strict_14_with_grace_period,f,f,1,2.03

In [8]:
print(listing_details.id.nunique())
print(listing_details.shape)

20030
(20030, 96)

In [9]:
neighbourhood = pd.read_csv("/content/drive/MyDrive/Airbnb-Amsterdam-DataEngineering/neighbourhoods.csv")
neighbourhood.head()

   neighbourhood_group           neighbourhood
0                  NaN         Bijlmer-Centrum
1                  NaN            Bijlmer-Oost
2                  NaN           Bos en Lommer
3                  NaN  Buitenveldert - Zuidas
4                  NaN            Centrum-Oost

In [10]:
reviews = pd.read_csv("/content/drive/MyDrive/Airbnb-Amsterdam-DataEngineering/reviews.csv")
reviews.head()

   listing_id        date
0        2818  2009-03-30
1        2818  2009-04-24
2        2818  2009-05-03
3        2818  2009-05-18
4        2818  2009-05-25

In [11]:
reviews.shape

(431830, 2)

In [12]:
reviews_details = pd.read_csv("/content/drive/MyDrive/Airbnb-Amsterdam-DataEngineering/reviews_details.csv")
reviews_details.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...

In [13]:
print(reviews_details.id.nunique())
print(reviews_details.shape)

431830
(431830, 6)

In [14]:
print(reviews_details.reviewer_id.nunique())
print(reviews_details.shape)

411813
(431830, 6)

In [15]:
listing.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [ ]:
# delete "neighbourhood_group" column from listing.
# delete "neighbourhood_group" column from neighbourhood.
# delete "experiences_offered" column from listings_details.
#customer_id and customer_name is reviewer_id and reviewer_name

In [ ]:
listing[listing.id == 30580413]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
20029,30580413,Cosy two bedroom appartment near 'de Pijp'!,27212057,Lisa,NaN,De Pijp - Rivierenbuurt,52.346911,4.901932,Entire home/apt,220,5,0,NaN,NaN,1,14

In [ ]:
calender.head()

   listing_id        date available price
0        2818  2019-12-05         f   NaN
1       73208  2019-08-30         f   NaN
2       73208  2019-08-29         f   NaN
3       73208  2019-08-28         f   NaN
4       73208  2019-08-27         f   NaN

In [ ]:
calender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7310950 entries, 0 to 7310949
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   listing_id  int64
 1   date        object
 2   available   object
 3   price       object
dtypes: int64(1), object(3)
memory usage: 223.1+ MB

In [ ]:
calender['date']= pd.to_datetime(calender['date'])

In [ ]:

calender['available'].replace('f','Not Available',inplace = True)
calender['available'].replace('t','Available',inplace = True)

In [ ]:
calender_dim = calender[['listing_id','date','available']]
calender_dim['day'] = calender_dim['date'].dt.day
calender_dim['month'] = calender_dim['date'].dt.month
calender_dim['year'] = calender_dim['date'].dt.year
calender_dim['weekday'] = calender_dim['date'].dt.weekday

In [ ]:
calender_dim.rename(columns={'listing_id': 'calender_id'}, inplace=True)

In [ ]:
calender_dim

         calender_id       date      available  day  month  year  weekday
0               2818 2019-12-05  Not Available    5     12  2019        3
1              73208 2019-08-30  Not Available   30      8  2019        4
2              73208 2019-08-29  Not Available   29      8  2019        3
3              73208 2019-08-28  Not Available   28      8  2019        2
4              73208 2019-08-27  Not Available   27      8  2019        1
...              ...        ...            ...  ...    ...   ...      ...
7310945     29979667 2018-12-11      Available   11     12  2018        1
7310946     29979667 2018-12-10      Available   10     12  2018        0
7310947     29979667 2018-12-09      Available    9     12  2018        6
7310948     29979667 2018-12-08      Available    8     12  2018        5
7310949     29979667 2018-12-07      Available    7     12  2018        4

[7310950 rows x 7 columns]

In [ ]:
listing.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199

In [ ]:
listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20030 entries, 0 to 20029
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20030 non-null  int64
 1   name                            19992 non-null  object
 2   host_id                         20030 non-null  int64
 3   host_name                       20026 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   20030 non-null  object
 6   latitude                        20030 non-null  float64
 7   longitude                       20030 non-null  float64
 8   room_type                       20030 non-null  object
 9   price                           20030 non-null  int64
 10  minimum_nights                  20030 non-null  int64
 11  number_of_reviews               20030 non-null  int64
 12  last_review                     17624 non-null  object
 13  reviews_per_month               17624 non-null  float64
 14  calculated_host_listings_count  20030 non-null  int64
 15  availability_365                20030 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 2.4+ MB

In [ ]:
listing_reviews_dim = listing[['id','number_of_reviews','last_review','reviews_per_month']]
listing_reviews_dim.rename(columns={'id': 'listing_reviews_id'}, inplace=True)
listing_reviews_dim

<ipython-input-67-c43f71915287>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_reviews_dim.rename(columns={'id': 'listing_reviews_id'}, inplace=True)

       listing_reviews_id  number_of_reviews last_review  reviews_per_month
0                    2818                248  2018-11-28               2.10
1                    3209                 42  2018-08-29               1.03
2                   20168                233  2018-11-30               2.18
3                   25428                  1  2018-01-21               0.09
4                   27886                171  2018-11-25               2.03
...                   ...                ...         ...                ...
20025            30576148                  0         NaN                NaN
20026            30577727                  0         NaN                NaN
20027            30578037                  0         NaN                NaN
20028            30579673                  0         NaN                NaN
20029            30580413                  0         NaN                NaN

[20030 rows x 4 columns]

In [ ]:
listing_reviews_dim

       listing_reviews_id  number_of_reviews last_review  reviews_per_month
0                    2818                248  2018-11-28               2.10
1                    3209                 42  2018-08-29               1.03
2                   20168                233  2018-11-30               2.18
3                   25428                  1  2018-01-21               0.09
4                   27886                171  2018-11-25               2.03
...                   ...                ...         ...                ...
20025            30576148                  0         NaN                NaN
20026            30577727                  0         NaN                NaN
20027            30578037                  0         NaN                NaN
20028            30579673                  0         NaN                NaN
20029            30580413                  0         NaN                NaN

[20030 rows x 4 columns]

In [ ]:
reviews_details.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...

In [ ]:
customer_reviews_dim = reviews_details[['listing_id','reviewer_id','reviewer_name','date','comments']]
customer_reviews_dim.rename(columns={'listing_id': 'customer_reviews_id','reviewer_id': 'customer_id','reviewer_name': 'customer_name','date':'review_date','comments':'review'}, inplace=True)

<ipython-input-71-d263022ea312>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_reviews_dim.rename(columns={'listing_id': 'customer_reviews_id','reviewer_id': 'customer_id','reviewer_name': 'customer_name','date':'review_date','comments':'review'}, inplace=True)

In [ ]:
customer_reviews_dim['review_date']= pd.to_datetime(customer_reviews_dim['review_date'])

<ipython-input-74-5b23f7d691da>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_reviews_dim['review_date']= pd.to_datetime(customer_reviews_dim['review_date'])

In [ ]:
customer_reviews_dim

,customer_reviews_id,customer_id,customer_name,review_date,review
0,2818,10952,Lam,2009-03-30,Daniel is really cool. The place was nice and ...
1,2818,12798,Alice,2009-04-24,Daniel is the most amazing host! His place is ...
2,2818,11869,Natalja,2009-05-03,We had such a great time in Amsterdam. Daniel ...
3,2818,14064,Enrique,2009-05-18,Very professional operation. Room is very clea...
4,2818,17977,Sherwin,2009-05-25,Daniel is highly recommended. He provided all...
...,...,...,...,...,...
431825,30435529,131376847,Andy,2018-12-04,The host canceled this reservation the day bef...
431826,30439111,103201416,Mohammed,2018-12-02,The host canceled this reservation 20 days bef...
431827,30518120,228738702,Valeriya,2018-12-04,The host canceled this reservation 22 days bef...
431828,30525429,111439550,Lucas,2018-12-05,I loved this house! It is truly incredible and...
431829,30550093,226911176,Mohamed Amine,2018-12-06,I love it I recommend

In [ ]:
listing.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199

In [ ]:
listing_owner_dim = listing[['id','host_id','host_name']]
listing_owner_dim.rename(columns={'id': 'listing_owner_id','host_id': 'owner_id','host_name': 'owner_name'}, inplace=True)
listing_owner_dim

<ipython-input-78-a95360960fe8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_owner_dim.rename(columns={'id': 'listing_owner_id','host_id': 'owner_id','host_name': 'owner_name'}, inplace=True)

       listing_owner_id  owner_id owner_name
0                  2818      3159     Daniel
1                  3209      3806    Maartje
2                 20168     59484       Alex
3                 25428     56142       Joan
4                 27886     97647       Flip
...                 ...       ...        ...
20025          30576148  13399651    Marieke
20026          30577727   1595885      Evita
20027          30578037  87866499    Tommaso
20028          30579673   1595885      Evita
20029          30580413  27212057       Lisa

[20030 rows x 3 columns]

In [ ]:
listing_owner_dim

       listing_owner_id  owner_id owner_name
0                  2818      3159     Daniel
1                  3209      3806    Maartje
2                 20168     59484       Alex
3                 25428     56142       Joan
4                 27886     97647       Flip
...                 ...       ...        ...
20025          30576148  13399651    Marieke
20026          30577727   1595885      Evita
20027          30578037  87866499    Tommaso
20028          30579673   1595885      Evita
20029          30580413  27212057       Lisa

[20030 rows x 3 columns]

In [ ]:
listing_neighbourhood_dim = listing[['id','neighbourhood']]
listing_neighbourhood_dim.rename(columns={'id': 'listing_neighbourhood_id','neighbourhood': 'listing_neighbourhood'}, inplace=True)

<ipython-input-80-f4f4a360c56a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_neighbourhood_dim.rename(columns={'id': 'listing_neighbourhood_id','neighbourhood': 'listing_neighbourhood'}, inplace=True)

In [ ]:
listing_neighbourhood_dim

       listing_neighbourhood_id                   listing_neighbourhood
0                          2818  Oostelijk Havengebied - Indische Buurt
1                          3209                              Westerpark
2                         20168                            Centrum-Oost
3                         25428                            Centrum-West
4                         27886                            Centrum-West
...                         ...                                     ...
20025                  30576148                         Watergraafsmeer
20026                  30577727  Oostelijk Havengebied - Indische Buurt
20027                  30578037                                Oud-Oost
20028                  30579673  Oostelijk Havengebied - Indische Buurt
20029                  30580413                 De Pijp - Rivierenbuurt

[20030 rows x 2 columns]

In [ ]:
listing_details.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20181206172549,2018-12-06,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi,I'm renting a bedroom (room overlooking the ga...,Quiet Garden View Room & Super Fast WiFi I'm r...,none,"Indische Buurt (""Indies Neighborhood"") is a ne...",...,f,NaN,{Amsterdam},t,f,strict_14_with_grace_period,f,f,1,2.10
1,3209,https://www.airbnb.com/rooms/3209,20181206172549,2018-12-06,"Quiet apt near center, great view",You will love our spacious (90 m2) bright apar...,"Our apartment has lots of light, a balcony and...",You will love our spacious (90 m2) bright apar...,none,Welcome to the Spaarndammerbuurt! From the beg...,...,f,NaN,{Amsterdam},f,f,moderate,f,f,1,1.03
2,20168,https://www.airbnb.com/rooms/20168,20181206172549,2018-12-06,100%Centre-Studio 1 Private Floor/Bathroom,"Cozy studio on your own private floor, 100% in...",For those who like all facets of city life. In...,"Cozy studio on your own private floor, 100% in...",none,Located just in between famous central canals....,...,f,NaN,{Amsterdam},f,f,strict_14_with_grace_period,f,f,2,2.18
3,25428,https://www.airbnb.com/rooms/25428,20181206172549,2018-12-06,Lovely apt in City Centre (Jordaan),NaN,"This nicely furnished, newly renovated apt is...","This nicely furnished, newly renovated apt is...",none,NaN,...,f,NaN,{Amsterdam},f,f,strict_14_with_grace_period,f,f,2,0.09
4,27886,https://www.airbnb.com/rooms/27886,20181206172549,2018-12-06,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,For a romantic couple: A beautifully restored ...,Stylish and romantic houseboat on fantastic hi...,none,"Central, quiet, safe, clean and beautiful.",...,f,NaN,{Amsterdam},t,f,strict_14_with_grace_period,f,f,1,2.03

In [ ]:
listing_dim = listing_details[['id','name','listing_url','space','requires_license','require_guest_phone_verification','cancellation_policy']]
listing_dim.rename(columns={'id': 'listingid','name':'listing_name','require_guest_phone_verification':'requires_phonenumber'}, inplace=True)

<ipython-input-84-9057a4aafb65>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_dim.rename(columns={'id': 'listingid','name':'listing_name','require_guest_phone_verification':'requires_phonenumber'}, inplace=True)

In [ ]:
listing_dim

,listingid,listing_name,listing_url,space,requires_license,requires_phonenumber,cancellation_policy
0,2818,Quiet Garden View Room & Super Fast WiFi,https://www.airbnb.com/rooms/2818,I'm renting a bedroom (room overlooking the ga...,f,f,strict_14_with_grace_period
1,3209,"Quiet apt near center, great view",https://www.airbnb.com/rooms/3209,"Our apartment has lots of light, a balcony and...",f,f,moderate
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,https://www.airbnb.com/rooms/20168,For those who like all facets of city life. In...,f,f,strict_14_with_grace_period
3,25428,Lovely apt in City Centre (Jordaan),https://www.airbnb.com/rooms/25428,"This nicely furnished, newly renovated apt is...",f,f,strict_14_with_grace_period
4,27886,"Romantic, stylish B&B houseboat in canal district",https://www.airbnb.com/rooms/27886,For a romantic couple: A beautifully restored ...,f,f,strict_14_with_grace_period
...,...,...,...,...,...,...,...
20025,30576148,Family House City + free Parking+garden (160 m2),https://www.airbnb.com/rooms/30576148,"Our house is a spacious family house, just ren...",f,f,strict_14_with_grace_period
20026,30577727,Home Sweet Home in Indische Buurt,https://www.airbnb.com/rooms/30577727,We have fluffy bedsheets and cozy lighning. Th...,f,f,flexible
20027,30578037,Amsterdam Cozy apartment nearby center,https://www.airbnb.com/rooms/30578037,NaN,f,f,moderate
20028,30579673,Home Sweet Home for a Guest or a Couple,https://www.airbnb.com/rooms/30579673,There are fluffy bedsheets and cozy lightning....,f,f,flexible
20029,30580413,Cosy two bedroom appartment near 'de Pijp'!,https://www.airbnb.com/rooms/30580413,NaN,f,f,flexible

In [ ]:
listing.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199

In [ ]:
listing_room_dim = listing[['id','room_type','availability_365','calculated_host_listings_count']]
listing_room_dim.rename(columns={'id': 'listing_room_id','calculated_host_listings_count':'room_capacity'}, inplace=True)

<ipython-input-91-423aa04ac401>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_room_dim.rename(columns={'id': 'listing_room_id','calculated_host_listings_count':'room_capacity'}, inplace=True)

In [ ]:
listing_room_dim

       listing_room_id        room_type  availability_365  room_capacity
0                 2818     Private room                44              1
1                 3209  Entire home/apt                47              1
2                20168  Entire home/apt               198              2
3                25428  Entire home/apt               141              2
4                27886     Private room               199              1
...                ...              ...               ...            ...
20025         30576148  Entire home/apt                11              1
20026         30577727  Entire home/apt                16              2
20027         30578037  Entire home/apt               210              2
20028         30579673     Private room                31              2
20029         30580413  Entire home/apt                14              1

[20030 rows x 4 columns]

In [ ]:
listing_location_dim = listing[['id','latitude','longitude']]
listing_location_dim.rename(columns={'id': 'listing_location_id','latitude':'listing_latitude','longitude':'listing_longitude'}, inplace=True)

<ipython-input-94-6f7918271c95>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_location_dim.rename(columns={'id': 'listing_location_id','latitude':'listing_latitude','longitude':'listing_longitude'}, inplace=True)

In [ ]:
listing_location_dim

       listing_location_id  listing_latitude  listing_longitude
0                     2818         52.365755           4.941419
1                     3209         52.390225           4.873924
2                    20168         52.365087           4.893541
3                    25428         52.373114           4.883668
4                    27886         52.386727           4.892078
...                    ...               ...                ...
20025             30576148         52.345999           4.952145
20026             30577727         52.362412           4.932467
20027             30578037         52.362431           4.926912
20028             30579673         52.363780           4.932493
20029             30580413         52.346911           4.901932

[20030 rows x 3 columns]

In [ ]:
fact_table = listing[['id']]
fact_table.rename(columns={'id': 'listing_id',fact_table.columns[1]:'calender_id',fact_table.columns[2]:'listing_reviews_id',fact_table.columns[2]:'customer_reviews_id',fact_table.columns[3]:'listing_owner_id',fact_table.columns[4]:'listing_neighbourhood_id',fact_table.columns[5]:'listing_room_id',fact_table.columns[6]:'listing_location_id'}, inplace=True)

<ipython-input-100-9401bea9b524>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table.rename(columns={'id': 'listing_id'}, inplace=True)

In [ ]:
fact_table

,listing_id,calender_id,listing_reviews_id,customer_reviews_id,listing_owner_id,listing_neighbourhood_id,listing_room_id,listing_location_id,price,min_nights_stay
0,2818,2818,2818,2818,2818,2818,2818,2818,59,3
1,3209,3209,3209,3209,3209,3209,3209,3209,160,4
2,20168,20168,20168,20168,20168,20168,20168,20168,80,1
3,25428,25428,25428,25428,25428,25428,25428,25428,125,14
4,27886,27886,27886,27886,27886,27886,27886,27886,150,2
...,...,...,...,...,...,...,...,...,...,...
20025,30576148,30576148,30576148,30576148,30576148,30576148,30576148,30576148,340,7
20026,30577727,30577727,30577727,30577727,30577727,30577727,30577727,30577727,150,3
20027,30578037,30578037,30578037,30578037,30578037,30578037,30578037,30578037,80,10
20028,30579673,30579673,30579673,30579673,30579673,30579673,30579673,30579673,55,2
20029,30580413,30580413,30580413,30580413,30580413,30580413,30580413,30580413,220,5

In [ ]:
fact_table.columns[1]:'calender_id',fact_table.columns[2]:'listing_reviews_id',fact_table.columns[2]:'customer_reviews_id',fact_table.columns[3]:'listing_owner_id',fact_table.columns[4]:'listing_neighbourhood_id',fact_table.columns[5]:'listing_room_id',fact_table.columns[6]:'listing_location_id'

In [ ]:
fact_table['calender_id'] = listing[['id']]
fact_table['listing_reviews_id'] = listing[['id']]
fact_table['customer_reviews_id'] = listing[['id']]
fact_table['listing_owner_id'] = listing[['id']]
fact_table['listing_neighbourhood_id'] = listing[['id']]
fact_table['listing_room_id'] = listing[['id']]
fact_table['listing_location_id'] = listing[['id']]
fact_table['price'] = listing[['price']]
fact_table['min_nights_stay'] = listing[['minimum_nights']]

<ipython-input-102-7770c03e66c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['calender_id'] = listing[['id']]
<ipython-input-102-7770c03e66c3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['listing_reviews_id'] = listing[['id']]
<ipython-input-102-7770c03e66c3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['customer_reviews_id'] = listing[['id']]
<ipython-input-102-7770c03e66c3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['listing_owner_id'] = listing[['id']]
<ipython-input-102-7770c03e66c3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['listing_neighbourhood_id'] = listing[['id']]
<ipython-input-102-7770c03e66c3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['listing_room_id'] = listing[['id']]
<ipython-input-102-7770c03e66c3>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['listing_location_id'] = listing[['id']]
<ipython-input-102-7770c03e66c3>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['price'] = listing[['price']]
<ipython-input-102-7770c03e66c3>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['min_nights_stay'] = listing[['minimum_nights']]

In [ ]:
fact_table

,listing_id,calender_id,listing_reviews_id,customer_reviews_id,listing_owner_id,listing_neighbourhood_id,listing_room_id,listing_location_id,price,min_nights_stay
0,2818,2818,2818,2818,2818,2818,2818,2818,59,3
1,3209,3209,3209,3209,3209,3209,3209,3209,160,4
2,20168,20168,20168,20168,20168,20168,20168,20168,80,1
3,25428,25428,25428,25428,25428,25428,25428,25428,125,14
4,27886,27886,27886,27886,27886,27886,27886,27886,150,2
...,...,...,...,...,...,...,...,...,...,...
20025,30576148,30576148,30576148,30576148,30576148,30576148,30576148,30576148,340,7
20026,30577727,30577727,30577727,30577727,30577727,30577727,30577727,30577727,150,3
20027,30578037,30578037,30578037,30578037,30578037,30578037,30578037,30578037,80,10
20028,30579673,30579673,30579673,30579673,30579673,30579673,30579673,30579673,55,2
20029,30580413,30580413,30580413,30580413,30580413,30580413,30580413,30580413,220,5

In [ ]:
reviews.head()

   listing_id        date  review_date_id
0        2818  2009-03-30               0
1        2818  2009-04-24               1
2        2818  2009-05-03               2
3        2818  2009-05-18               3
4        2818  2009-05-25               4

In [ ]:
reviews_date_dim = reviews
reviews_date_dim['review_date_id'] = reviews_date_dim.index
reviews_date_dim = reviews_date_dim[['review_date_id','listing_id','date']]

In [ ]:
reviews_date_dim

        review_date_id  listing_id        date
0                    0        2818  2009-03-30
1                    1        2818  2009-04-24
2                    2        2818  2009-05-03
3                    3        2818  2009-05-18
4                    4        2818  2009-05-25
...                ...         ...         ...
431825          431825    30435529  2018-12-04
431826          431826    30439111  2018-12-02
431827          431827    30518120  2018-12-04
431828          431828    30525429  2018-12-05
431829          431829    30550093  2018-12-06

[431830 rows x 3 columns]

In [ ]:
listing_neighbourhood_dim = listing[['id','neighbourhood']]
listing_neighbourhood_dim.rename(columns={'id': 'listing_neighbourhood_id','neighbourhood': 'listing_neighbourhood'}, inplace=True)


listing_owner_dim = listing[['id','host_id','host_name']]
listing_owner_dim.rename(columns={'id': 'listing_id','host_id': 'owner_id','host_name': 'owner_name'}, inplace=True)
listing_owner_dim

<ipython-input-38-c4f5af30bf4a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_owner_dim.rename(columns={'id': 'listing_id','host_id': 'owner_id','host_name': 'owner_name'}, inplace=True)

       listing_id  owner_id owner_name
0            2818      3159     Daniel
1            3209      3806    Maartje
2           20168     59484       Alex
3           25428     56142       Joan
4           27886     97647       Flip
...           ...       ...        ...
20025    30576148  13399651    Marieke
20026    30577727   1595885      Evita
20027    30578037  87866499    Tommaso
20028    30579673   1595885      Evita
20029    30580413  27212057       Lisa

[20030 rows x 3 columns]

In [ ]:
listing_owner_dim['listing_owner_id'] = listing_owner_dim.index
listing_owner_dim = listing_owner_dim[['listing_owner_id','listing_id','owner_id','owner_name']]
listing_owner_dim

<ipython-input-39-c587c3ec9ccc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_owner_dim['listing_owner_id'] = listing_owner_dim.index

       listing_owner_id  listing_id  owner_id owner_name
0                     0        2818      3159     Daniel
1                     1        3209      3806    Maartje
2                     2       20168     59484       Alex
3                     3       25428     56142       Joan
4                     4       27886     97647       Flip
...                 ...         ...       ...        ...
20025             20025    30576148  13399651    Marieke
20026             20026    30577727   1595885      Evita
20027             20027    30578037  87866499    Tommaso
20028             20028    30579673   1595885      Evita
20029             20029    30580413  27212057       Lisa

[20030 rows x 4 columns]

In [ ]:
listing.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,list_id
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44,0
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47,1
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198,2
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141,3
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199,4

In [ ]:
print(listing.id.nunique())
print(listing.shape)

20030
(20030, 17)

## Adding surrogate key to listing_data. (Surrogate key = 'list_id') (Primary key = 'id')

In [ ]:
listing['list_id'] = listing.index

##Listing_reviews_dimension.  Taken from listing_data

In [ ]:
listing_reviews_dim = listing[['list_id','number_of_reviews','last_review','reviews_per_month']]
listing_reviews_dim.rename(columns={'list_id': 'listing_reviews_id'}, inplace=True)
listing_reviews_dim

<ipython-input-49-db22ce3c7b5d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_reviews_dim.rename(columns={'list_id': 'listing_reviews_id'}, inplace=True)

       listing_reviews_id  number_of_reviews last_review  reviews_per_month
0                       0                248  2018-11-28               2.10
1                       1                 42  2018-08-29               1.03
2                       2                233  2018-11-30               2.18
3                       3                  1  2018-01-21               0.09
4                       4                171  2018-11-25               2.03
...                   ...                ...         ...                ...
20025               20025                  0         NaN                NaN
20026               20026                  0         NaN                NaN
20027               20027                  0         NaN                NaN
20028               20028                  0         NaN                NaN
20029               20029                  0         NaN                NaN

[20030 rows x 4 columns]

## Listing_owner_dimension. Taken from Listing_data

In [ ]:
listing_owner_dim = listing[['list_id','host_name']]
listing_owner_dim.rename(columns={'list_id': 'listing_owner_id','host_name': 'owner_name'}, inplace=True)
listing_owner_dim

<ipython-input-50-d3a0c9b243dd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_owner_dim.rename(columns={'list_id': 'listing_owner_id','host_name': 'owner_name'}, inplace=True)

       listing_owner_id owner_name
0                     0     Daniel
1                     1    Maartje
2                     2       Alex
3                     3       Joan
4                     4       Flip
...                 ...        ...
20025             20025    Marieke
20026             20026      Evita
20027             20027    Tommaso
20028             20028      Evita
20029             20029       Lisa

[20030 rows x 2 columns]

## Listing_neighbourhood_dimension. Taken from listing_data

In [ ]:
listing_neighbourhood_dim = listing[['list_id','neighbourhood']]
listing_neighbourhood_dim.rename(columns={'list_id': 'listing_neighbourhood_id','neighbourhood': 'listing_neighbourhood'}, inplace=True)
listing_neighbourhood_dim

<ipython-input-52-75413d11dbdf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_neighbourhood_dim.rename(columns={'list_id': 'listing_neighbourhood_id','neighbourhood': 'listing_neighbourhood'}, inplace=True)

       listing_neighbourhood_id                   listing_neighbourhood
0                             0  Oostelijk Havengebied - Indische Buurt
1                             1                              Westerpark
2                             2                            Centrum-Oost
3                             3                            Centrum-West
4                             4                            Centrum-West
...                         ...                                     ...
20025                     20025                         Watergraafsmeer
20026                     20026  Oostelijk Havengebied - Indische Buurt
20027                     20027                                Oud-Oost
20028                     20028  Oostelijk Havengebied - Indische Buurt
20029                     20029                 De Pijp - Rivierenbuurt

[20030 rows x 2 columns]

## Listing_room_dimension. Taken from listing_data

In [ ]:
listing_room_dim = listing[['list_id','room_type','availability_365','calculated_host_listings_count']]
listing_room_dim.rename(columns={'list_id': 'listing_room_id','calculated_host_listings_count':'room_capacity'}, inplace=True)
listing_room_dim

<ipython-input-53-4dc5847e5165>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_room_dim.rename(columns={'list_id': 'listing_room_id','calculated_host_listings_count':'room_capacity'}, inplace=True)

       listing_room_id        room_type  availability_365  room_capacity
0                    0     Private room                44              1
1                    1  Entire home/apt                47              1
2                    2  Entire home/apt               198              2
3                    3  Entire home/apt               141              2
4                    4     Private room               199              1
...                ...              ...               ...            ...
20025            20025  Entire home/apt                11              1
20026            20026  Entire home/apt                16              2
20027            20027  Entire home/apt               210              2
20028            20028     Private room                31              2
20029            20029  Entire home/apt                14              1

[20030 rows x 4 columns]

## Listing_location_dimension. Taken from listing_data

In [ ]:
listing_location_dim = listing[['list_id','latitude','longitude']]
listing_location_dim.rename(columns={'list_id': 'listing_location_id','latitude':'listing_latitude','longitude':'listing_longitude'}, inplace=True)
listing_location_dim

<ipython-input-54-989b5785b1bf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_location_dim.rename(columns={'list_id': 'listing_location_id','latitude':'listing_latitude','longitude':'listing_longitude'}, inplace=True)

       listing_location_id  listing_latitude  listing_longitude
0                        0         52.365755           4.941419
1                        1         52.390225           4.873924
2                        2         52.365087           4.893541
3                        3         52.373114           4.883668
4                        4         52.386727           4.892078
...                    ...               ...                ...
20025                20025         52.345999           4.952145
20026                20026         52.362412           4.932467
20027                20027         52.362431           4.926912
20028                20028         52.363780           4.932493
20029                20029         52.346911           4.901932

[20030 rows x 3 columns]

# Review_details DATASET

In [ ]:
reviews_details.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,review_id
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...,0
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...,1
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...,2
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...,3
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...,4

## Adding a surrogate key to the dataset

In [ ]:
reviews_details['review_id'] = reviews_details.index

## Reviewer_dimension. Taken from reviewer_detail_data.

In [ ]:
reviewer_dim = reviews_details[['review_id','reviewer_name']]
reviewer_dim.rename(columns={'review_id': 'reviewer_id'}, inplace=True)
reviewer_dim

<ipython-input-57-a9288ef33e2a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviewer_dim.rename(columns={'review_id': 'reviewer_id'}, inplace=True)

        reviewer_id  reviewer_name
0                 0            Lam
1                 1          Alice
2                 2        Natalja
3                 3        Enrique
4                 4        Sherwin
...             ...            ...
431825       431825           Andy
431826       431826       Mohammed
431827       431827       Valeriya
431828       431828          Lucas
431829       431829  Mohamed Amine

[431830 rows x 2 columns]

## Review_dimension. Taken from reviewer_detail_data

In [ ]:
review_dim = reviews_details[['review_id','listing_id','date','comments']]
review_dim.rename(columns={'comments': 'review'}, inplace=True)
review_dim

<ipython-input-58-b332a2768dd0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review_dim.rename(columns={'comments': 'review'}, inplace=True)

,review_id,listing_id,date,review
0,0,2818,2009-03-30,Daniel is really cool. The place was nice and ...
1,1,2818,2009-04-24,Daniel is the most amazing host! His place is ...
2,2,2818,2009-05-03,We had such a great time in Amsterdam. Daniel ...
3,3,2818,2009-05-18,Very professional operation. Room is very clea...
4,4,2818,2009-05-25,Daniel is highly recommended. He provided all...
...,...,...,...,...
431825,431825,30435529,2018-12-04,The host canceled this reservation the day bef...
431826,431826,30439111,2018-12-02,The host canceled this reservation 20 days bef...
431827,431827,30518120,2018-12-04,The host canceled this reservation 22 days bef...
431828,431828,30525429,2018-12-05,I loved this house! It is truly incredible and...
431829,431829,30550093,2018-12-06,I love it I recommend

# Listing_detail DATASET

In [ ]:
listing_details.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20181206172549,2018-12-06,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi,I'm renting a bedroom (room overlooking the ga...,Quiet Garden View Room & Super Fast WiFi I'm r...,none,"Indische Buurt (""Indies Neighborhood"") is a ne...",...,f,NaN,{Amsterdam},t,f,strict_14_with_grace_period,f,f,1,2.10
1,3209,https://www.airbnb.com/rooms/3209,20181206172549,2018-12-06,"Quiet apt near center, great view",You will love our spacious (90 m2) bright apar...,"Our apartment has lots of light, a balcony and...",You will love our spacious (90 m2) bright apar...,none,Welcome to the Spaarndammerbuurt! From the beg...,...,f,NaN,{Amsterdam},f,f,moderate,f,f,1,1.03
2,20168,https://www.airbnb.com/rooms/20168,20181206172549,2018-12-06,100%Centre-Studio 1 Private Floor/Bathroom,"Cozy studio on your own private floor, 100% in...",For those who like all facets of city life. In...,"Cozy studio on your own private floor, 100% in...",none,Located just in between famous central canals....,...,f,NaN,{Amsterdam},f,f,strict_14_with_grace_period,f,f,2,2.18
3,25428,https://www.airbnb.com/rooms/25428,20181206172549,2018-12-06,Lovely apt in City Centre (Jordaan),NaN,"This nicely furnished, newly renovated apt is...","This nicely furnished, newly renovated apt is...",none,NaN,...,f,NaN,{Amsterdam},f,f,strict_14_with_grace_period,f,f,2,0.09
4,27886,https://www.airbnb.com/rooms/27886,20181206172549,2018-12-06,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,For a romantic couple: A beautifully restored ...,Stylish and romantic houseboat on fantastic hi...,none,"Central, quiet, safe, clean and beautiful.",...,f,NaN,{Amsterdam},t,f,strict_14_with_grace_period,f,f,1,2.03

## Adding a surrogate key to the dataset

In [ ]:
listing_details['listing_detail_id'] = listing_details.index

In [ ]:
listing_detail_dim = listing_details[['listing_detail_id','name','listing_url','space','requires_license','cancellation_policy']]
listing_detail_dim.rename(columns={'name': 'listing_name'}, inplace=True)
listing_detail_dim

<ipython-input-62-95bf7f9db59c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_detail_dim.rename(columns={'name': 'listing_name'}, inplace=True)

,listing_detail_id,listing_name,listing_url,space,requires_license,cancellation_policy
0,0,Quiet Garden View Room & Super Fast WiFi,https://www.airbnb.com/rooms/2818,I'm renting a bedroom (room overlooking the ga...,f,strict_14_with_grace_period
1,1,"Quiet apt near center, great view",https://www.airbnb.com/rooms/3209,"Our apartment has lots of light, a balcony and...",f,moderate
2,2,100%Centre-Studio 1 Private Floor/Bathroom,https://www.airbnb.com/rooms/20168,For those who like all facets of city life. In...,f,strict_14_with_grace_period
3,3,Lovely apt in City Centre (Jordaan),https://www.airbnb.com/rooms/25428,"This nicely furnished, newly renovated apt is...",f,strict_14_with_grace_period
4,4,"Romantic, stylish B&B houseboat in canal district",https://www.airbnb.com/rooms/27886,For a romantic couple: A beautifully restored ...,f,strict_14_with_grace_period
...,...,...,...,...,...,...
20025,20025,Family House City + free Parking+garden (160 m2),https://www.airbnb.com/rooms/30576148,"Our house is a spacious family house, just ren...",f,strict_14_with_grace_period
20026,20026,Home Sweet Home in Indische Buurt,https://www.airbnb.com/rooms/30577727,We have fluffy bedsheets and cozy lighning. Th...,f,flexible
20027,20027,Amsterdam Cozy apartment nearby center,https://www.airbnb.com/rooms/30578037,NaN,f,moderate
20028,20028,Home Sweet Home for a Guest or a Couple,https://www.airbnb.com/rooms/30579673,There are fluffy bedsheets and cozy lightning....,f,flexible
20029,20029,Cosy two bedroom appartment near 'de Pijp'!,https://www.airbnb.com/rooms/30580413,NaN,f,flexible

# FACT_TABLE

In [ ]:
fact_table = listing.merge(passenger_count_dim, on='passenger_count') \
             .merge(trip_distance_dim, on='trip_distance') \
             .merge(rate_code_dim, on='RatecodeID') \
             .merge(pickup_location_dim, on=['pickup_longitude', 'pickup_latitude']) \
             .merge(dropoff_location_dim, on=['dropoff_longitude', 'dropoff_latitude'])\
             .merge(datetime_dim, on=['tpep_pickup_datetime','tpep_dropoff_datetime']) \
             .merge(payment_type_dim, on='payment_type') \
             [['VendorID', 'datetime_id', 'passenger_count_id',
               'trip_distance_id', 'rate_code_id', 'store_and_fwd_flag', 'pickup_location_id', 'dropoff_location_id',
               'payment_type_id', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
               'improvement_surcharge', 'total_amount']]

In [16]:
listing.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199

In [17]:
listing_details.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20181206172549,2018-12-06,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi,I'm renting a bedroom (room overlooking the ga...,Quiet Garden View Room & Super Fast WiFi I'm r...,none,"Indische Buurt (""Indies Neighborhood"") is a ne...",...,f,NaN,{Amsterdam},t,f,strict_14_with_grace_period,f,f,1,2.10
1,3209,https://www.airbnb.com/rooms/3209,20181206172549,2018-12-06,"Quiet apt near center, great view",You will love our spacious (90 m2) bright apar...,"Our apartment has lots of light, a balcony and...",You will love our spacious (90 m2) bright apar...,none,Welcome to the Spaarndammerbuurt! From the beg...,...,f,NaN,{Amsterdam},f,f,moderate,f,f,1,1.03
2,20168,https://www.airbnb.com/rooms/20168,20181206172549,2018-12-06,100%Centre-Studio 1 Private Floor/Bathroom,"Cozy studio on your own private floor, 100% in...",For those who like all facets of city life. In...,"Cozy studio on your own private floor, 100% in...",none,Located just in between famous central canals....,...,f,NaN,{Amsterdam},f,f,strict_14_with_grace_period,f,f,2,2.18
3,25428,https://www.airbnb.com/rooms/25428,20181206172549,2018-12-06,Lovely apt in City Centre (Jordaan),NaN,"This nicely furnished, newly renovated apt is...","This nicely furnished, newly renovated apt is...",none,NaN,...,f,NaN,{Amsterdam},f,f,strict_14_with_grace_period,f,f,2,0.09
4,27886,https://www.airbnb.com/rooms/27886,20181206172549,2018-12-06,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,For a romantic couple: A beautifully restored ...,Stylish and romantic houseboat on fantastic hi...,none,"Central, quiet, safe, clean and beautiful.",...,f,NaN,{Amsterdam},t,f,strict_14_with_grace_period,f,f,1,2.03

In [20]:
import pandas as pd

# create first dataframe
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                   'value': [1, 2, 3, 4]})

# create second dataframe
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                   'value_m': [5, 6, 7, 8]})

# merge dataframes on common column 'key'
merged_df = pd.merge(df1, df2, on='key')

print(merged_df)

  key  value  value_m
0   B      2        5
1   D      4        6

In [21]:
listing['list_id'] = listing.index

listing_reviews_dim = listing[['list_id','number_of_reviews','last_review','reviews_per_month']]
listing_reviews_dim.rename(columns={'list_id': 'listing_reviews_id'}, inplace=True)

listing_owner_dim = listing[['list_id','host_name']]
listing_owner_dim.rename(columns={'list_id': 'listing_owner_id','host_name': 'owner_name'}, inplace=True)

listing_neighbourhood_dim = listing[['list_id','neighbourhood']]
listing_neighbourhood_dim.rename(columns={'list_id': 'listing_neighbourhood_id','neighbourhood': 'listing_neighbourhood'}, inplace=True)

listing_room_dim = listing[['list_id','room_type','availability_365','calculated_host_listings_count']]
listing_room_dim.rename(columns={'list_id': 'listing_room_id','calculated_host_listings_count':'room_capacity'}, inplace=True)

listing_location_dim = listing[['list_id','latitude','longitude']]
listing_location_dim.rename(columns={'list_id': 'listing_location_id','latitude':'listing_latitude','longitude':'listing_longitude'}, inplace=True)

listing_details['listing_detail_id'] = listing_details.index

listing_detail_dim = listing_details[['listing_detail_id','name','listing_url','space','requires_license','cancellation_policy']]
listing_detail_dim.rename(columns={'name': 'listing_name'}, inplace=True)


fact_table = listing.merge(listing_reviews_dim, left_on='list_id', right_on='listing_reviews_id') \
             .merge(listing_owner_dim, left_on='list_id', right_on='listing_owner_id') \
             .merge(listing_neighbourhood_dim, left_on='list_id', right_on='listing_neighbourhood_id') \
             .merge(listing_room_dim, left_on='list_id', right_on='listing_room_id') \
             .merge(listing_location_dim, left_on='list_id', right_on='listing_location_id')\
             .merge(listing_detail_dim, left_on='list_id', right_on='listing_detail_id') \
             [['listing_reviews_id', 'listing_owner_id', 'listing_neighbourhood_id',
               'listing_room_id', 'listing_location_id', 'listing_detail_id', 'price', 'minimum_nights']]

<ipython-input-21-821cf47dd5e7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_reviews_dim.rename(columns={'list_id': 'listing_reviews_id'}, inplace=True)
<ipython-input-21-821cf47dd5e7>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_owner_dim.rename(columns={'list_id': 'listing_owner_id','host_name': 'owner_name'}, inplace=True)
<ipython-input-21-821cf47dd5e7>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_neighbourhood_dim.rename(columns={'list_id': 'listing_neighbourhood_id','neighbourhood': 'listing_neighbourhood'}, inplace=True)
<ipython-input-21-821cf47dd5e7>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_room_dim.rename(columns={'list_id': 'listing_room_id','calculated_host_listings_count':'room_capacity'}, inplace=True)
<ipython-input-21-821cf47dd5e7>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_location_dim.rename(columns={'list_id': 'listing_location_id','latitude':'listing_latitude','longitude':'listing_longitude'}, inplace=True)
<ipython-input-21-821cf47dd5e7>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_detail_dim.rename(columns={'name': 'listing_name'}, inplace=True)

In [22]:
fact_table.head()

,listing_reviews_id,listing_owner_id,listing_neighbourhood_id,listing_room_id,listing_location_id,listing_detail_id,price,minimum_nights
0,0,0,0,0,0,0,59,3
1,1,1,1,1,1,1,160,4
2,2,2,2,2,2,2,80,1
3,3,3,3,3,3,3,125,14
4,4,4,4,4,4,4,150,2